form {
    min-height: 60vh;
    min-width: 30vb;
    margin: 2rem;
}


button {
    font-size: 3ch;
    color: white;
    background-color: #417cea;
    margin: 1rem;
    border-radius: 1rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #666;
    border-radius: 1rem;
}

div {
    margin: 3rem;
}

.form-label, select, input {
    margin: 1rem;
    display: inline-block;
    width: 30%;
}

.form-label {
    color: white;
}

.btn-back {
    background-color: #191919;
}

.btn-back-link {
    color: white;
    text-decoration: none;
}

.container-div {
    width: 80%;
    height: 10%;
    display: flex;
}