/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.itemA {
    text-decoration: none;
    color: white;
}

.itemLi {
    list-style: none;
    margin: 1rem;
}
.navBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #191919;
}

.itemLogo {
    display: flex;
    flex-wrap: wrap;
}

.itemList {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex-grow: 1;
}


@media (max-width: 768px) {
    .itemList{
      background-color: #ff6611;
      display: flex;
      margin: 1px;
    }
  }